<a href="https://colab.research.google.com/github/kunni87/phython-assignment/blob/main/Practice%20Note.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary
They are mutable, {}

In [ ]:
info= {'name':'Kunal',
       'age':32,
       'marks':[5,14,12,34,]}
print(type(info))
print(info)

<class 'dict'>
{'name': 'Kunal', 'age': 32, 'marks': [5, 14, 12, 34]}

In [ ]:
info['name']

'Kunal'

Duplicate Key is not allowed in dictionary. Dictionary take the second value if the key is same/Duplicate

In [ ]:
info2={'name':'Kunal',
       'name':'Kapadia'}
print(info2)

{'name': 'Kapadia'}

Duplicate Value are excepted in Dictionary

In [ ]:
info3={'name':'Kunal',
       'surname':'Kunal'}
print(info3)

{'name': 'Kunal', 'surname': 'Kunal'}

In [ ]:
info4= {'name':'Kunal',
       'age':32,
       'marks':{'English':5,'Hindi':14,'Maths':12,'Science':34,}}
print(info4)

{'name': 'Kunal', 'age': 32, 'marks': {'English': 5, 'Hindi': 14, 'Maths': 12, 'Science': 34}}

Access nested dictionary value

In [ ]:
info4['marks']['English']

5

Dictionary method
dict.keys()--> returns key
dict.value()--> returns Value
dict.items()
dict.get('key')
dict.update(newdict)

In [ ]:
info7= {'name':'Kunal',
       'age':32,
       'marks':[5,14,12,34,]}

dict.keys()

In [ ]:
key=list(info7.keys())
print(key)

['name', 'age', 'marks']

dict.values()

In [ ]:
values=list(info7.values())
print(values)

['Kunal', 32, [5, 14, 12, 34]]

dict.item()

In [ ]:
item=list(info7.items())
print(item)

[('name', 'Kunal'), ('age', 32), ('marks', [5, 14, 12, 34])]

dict.get()

In [ ]:
info7.get('name2')

In [ ]:
info7['name2']

KeyError: 'name2'

In [ ]:
info7.update({'Address':'Bengaluru'})
print(info7)

{'name': 'Kunal', 'age': 32, 'marks': [5, 14, 12, 34], 'Address': 'Bengaluru'}

pop('Aadress)- remove the item mentioned

In [ ]:
info7.pop('Address')
print(info7)

{'name': 'Kunal', 'age': 32, 'marks': [5, 14, 12, 34]}

popitem()-- remove the last item

In [ ]:
info7.popitem()
print(info7)

{'name': 'Kunal', 'age': 32}

In [ ]:
info7.setdefault('name')
print(info7)

{'name': 'Kunal', 'age': 32}

In [ ]:
info7.clear()
print(info7)

{}

**SET**

In [ ]:
num={1,2,3,4}
print(num)
print(type(num))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
num1={1,2,2,2,3,3,4,4}
print(num1)

{1, 2, 3, 4}

In [ ]:
num3=set()
print(num3)

set()

Set is unordered, in the below example enter and output is different

In [ ]:
num4={1,'apple',(1,2,3)}
print(num4)

{1, (1, 2, 3), 'apple'}

Set doesn't allow list and dictionary

In [ ]:
num5={1,'kunal', [1,2,3]}
print(num5)

TypeError: unhashable type: 'list'

Add a element in set

In [ ]:
num.add(5)
print(num)

{1, 2, 3, 4, 5}

Remove a element in set

In [ ]:
num.remove(4)
print(num)

{1, 2, 3, 5}

Remove a randome element in set

In [ ]:
num.pop()
print(num)

{3, 4}

Clear all element in set

In [ ]:
num.clear()
print(num)

set()

In [ ]:
nums={1,2,3,7}
nums1={2,3,5}
nums.intersection(nums1)

{2, 3}

In [ ]:
nums.union(nums1)

{1, 2, 3, 5, 7}

In [ ]:
import os

In [ ]:
os.getcwd()

'/content'

**Change directory and list directory**

In [ ]:
import os
os.chdir('/kaggle')
os.listdir('/kaggle')

['input']

**Creating a** **Directory**
os.mkdir()
os.mkdirs()

In [ ]:
#directory
Directory='demo1'

parent_dir='/kaggle'

path=os.path.join(parent_dir,Directory)

os.mkdir(path)

In [ ]:
Directory='demo2'

parent_dir='/kaggle'

mode=0o666

path=os.path.join(parent_dir,Directory)

os.mkdir(path,mode)

In [ ]:
Directory='demo5'

parent_dir='/kaggle/demo3/demo4'

path=os.path.join(parent_dir,Directory)

os.makedirs(path)

Remove Empty Directory

In [ ]:
Directory='demo5'

parent_dir='/kaggle'

path=os.path.join(parent_dir,Directory)

os.rmdir(path)

In [ ]:
pwd

'/content'

In [ ]:
import os
os.chdir('/kaggle')

In [ ]:
pwd

'/kaggle'

In [ ]:
%%writefile test.text
This is my first line
This is my second line
This is my Third line

Writing test.text

In [ ]:
myfile = open('/kaggle/test.text')

In [ ]:
myfile.read()

'This is my first line\nThis is my second line\nThis is my Third line\n'

Once you use read fucntion next time it won't allow you to read as it has reached to the end so will use seek function to move the cursor back to beginning

In [ ]:
myfile.read()

''

In [ ]:
myfile.seek(0)

0

In [ ]:
print(myfile.read())

This is my first line
This is my second line
This is my Third line

In [ ]:
myfile.seek(0)

0

Read file line by line

In [ ]:
myfile.readlines()

['This is my first line\n',
 'This is my second line\n',
 'This is my Third line\n']

In [ ]:
myfile.close()

In [ ]:
myfile.seek(0)
myfile.readlines()

ValueError: I/O operation on closed file.

In [ ]:
myfile=open('/kaggle/test.text','w+')

In [ ]:
myfile.write('This is awesome')

15

In [ ]:
myfile.seek(0)
myfile.read()

'This is awesome'

In [ ]:
with open('newtest.text','w') as f:
    lines= ['JS this is awesome', '\n', 'this is my programming course']
    f.writelines(lines)

In [ ]:
print(lines)

['JS this is awesome', '\n', 'this is my programming course']

In [ ]:
myfile=open('newtest.text','a+')
myfile.write('\nThis is new line')
myfile.write('\nThis is new line2')

18

In [ ]:
myfile.seek(0)
myfile.read()

'JS this is awesome\nthis is my programming course\nThis is new line\nThis is new line2'

In [ ]:
myfile.close()

In [ ]:
with open('newtest.text','r+') as txt:
    first_line=txt.readlines()[0:]
print(first_line)

['JS this is awesome\n', 'this is my programming course\n', 'This is new line\n', 'This is new line2']

In [ ]:
with open('newtest.text','r') as txt:
    for line in txt:
        print(line,end='')

JS this is awesome
this is my programming course
This is new line
This is new line2

In [ ]:
try:
  myfile=open('ftest.text','r')
  content=myfile.read()
  print(content)
finally:
  myfile.close()

FileNotFoundError: [Errno 2] No such file or directory: 'ftest.text'

The below file is used to pass the code if no file name exist

In [ ]:
try:
  myfile=open('ftest.text','r')
  content=myfile.read()
  print(content)
except:
  print('File not found')
finally:
  myfile.close()

File not found

In [ ]:
with open('ftest.text','w') as f:
    lines= ['Phython this is awesome', '\n', 'this is my programming course']
    f.writelines(lines)

In [ ]:
try:
  myfile=open('ftest.text','r')
  content=myfile.read()
  print(content)
except:
  print('File not found')
finally:
  myfile.close()

Phython this is awesome
this is my programming course

***While Loop***

In [ ]:
i=1
while i<=5:
  print('hello world')
  i=i+1

hello world
hello world
hello world
hello world
hello world

In [ ]:
list = [12,60,70,80,39,38]
i=0
while i<len(list):
  print(list[i])
  i=i+1

12
60
70
80
39
38

In [ ]:
string='watermelon'
i=0
while i <len(string):
  if string[i]=='m':
    print(True)
  else:
    print(False)
  i=i+1

False
False
False
False
False
True
False
False
False
False

In [ ]:
while False:
  print('Hello World')

In [ ]:
fruits = ('apple', 'mango', 'banana', 'orange')
while True:
  fruit = input('Enter fruit name: ').lower()
  if fruit not in fruits:
        print('Invalid fruit. Please enter a fruit from the list:', ', '.join(fruits))
  elif fruit == 'mango':
        print('Mango is found')
        break
  else:
        print('Wrong choice of fruit, enter fruit name again')

Enter fruit name: apple
Wrong choice of fruit, enter fruit name again
Enter fruit name: chickoo
Invalid fruit. Please enter a fruit from the list: apple, mango, banana, orange
Enter fruit name: Mango
Mango is found

In [ ]:
import os
from IPython.display import clear_output

def clear_console():
    if os.name == 'nt':
        os.system('cls')
fruits = ('apple', 'mango', 'banana', 'orange')

while True:
    fruit = input('Enter fruit name: ').lower()
    if fruit not in fruits:
        print('Invalid fruit. Please enter a fruit from the list:', ', '.join(fruits))
    elif fruit == 'mango':
        print('Mango is found')
        break
    else:
        print('Wrong choice of fruit, enter fruit name again')

    time.sleep(5)
    clear_console()

Enter fruit name: apple
Wrong choice of fruit, enter fruit name again

***For Loop***
Range(start, stop,[step])

In [93]:
for i in range(1,21):
  print('4 x',i,'=',i*4)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
4 x 20 = 80