<a href="https://colab.research.google.com/github/kunni87/phython-assignment/blob/main/Practice%20Note.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary
They are mutable, {}

In [1]:
info= {'name':'Kunal',
       'age':32,
       'marks':[5,14,12,34,]}
print(type(info))
print(info)

<class 'dict'>
{'name': 'Kunal', 'age': 32, 'marks': [5, 14, 12, 34]}

In [5]:
info['name']

'Kunal'

Duplicate Key is not allowed in dictionary. Dictionary take the second value if the key is same/Duplicate

In [6]:
info2={'name':'Kunal',
       'name':'Kapadia'}
print(info2)

{'name': 'Kapadia'}

Duplicate Value are excepted in Dictionary

In [7]:
info3={'name':'Kunal',
       'surname':'Kunal'}
print(info3)

{'name': 'Kunal', 'surname': 'Kunal'}

In [8]:
info4= {'name':'Kunal',
       'age':32,
       'marks':{'English':5,'Hindi':14,'Maths':12,'Science':34,}}
print(info4)

{'name': 'Kunal', 'age': 32, 'marks': {'English': 5, 'Hindi': 14, 'Maths': 12, 'Science': 34}}

Access nested dictionary value

In [13]:
info4['marks']['English']

5

Dictionary method
dict.keys()--> returns key
dict.value()--> returns Value
dict.items()
dict.get('key')
dict.update(newdict)

In [16]:
info7= {'name':'Kunal',
       'age':32,
       'marks':[5,14,12,34,]}

dict.keys()

In [17]:
key=list(info7.keys())
print(key)

['name', 'age', 'marks']

dict.values()

In [18]:
values=list(info7.values())
print(values)

['Kunal', 32, [5, 14, 12, 34]]

dict.item()

In [19]:
item=list(info7.items())
print(item)

[('name', 'Kunal'), ('age', 32), ('marks', [5, 14, 12, 34])]

dict.get()

In [30]:
info7.get('name2')

In [29]:
info7['name2']

KeyError: 'name2'

In [31]:
info7.update({'Address':'Bengaluru'})
print(info7)

{'name': 'Kunal', 'age': 32, 'marks': [5, 14, 12, 34], 'Address': 'Bengaluru'}

pop('Aadress)- remove the item mentioned

In [32]:
info7.pop('Address')
print(info7)

{'name': 'Kunal', 'age': 32, 'marks': [5, 14, 12, 34]}

popitem()-- remove the last item

In [34]:
info7.popitem()
print(info7)

{'name': 'Kunal', 'age': 32}

In [35]:
info7.setdefault('name')
print(info7)

{'name': 'Kunal', 'age': 32}

In [36]:
info7.clear()
print(info7)

{}

**SET**

In [54]:
num={1,2,3,4}
print(num)
print(type(num))

{1, 2, 3, 4}
<class 'set'>

In [39]:
num1={1,2,2,2,3,3,4,4}
print(num1)

{1, 2, 3, 4}

In [42]:
num3=set()
print(num3)

set()

Set is unordered, in the below example enter and output is different

In [43]:
num4={1,'apple',(1,2,3)}
print(num4)

{1, (1, 2, 3), 'apple'}

Set doesn't allow list and dictionary

In [46]:
num5={1,'kunal', [1,2,3]}
print(num5)

TypeError: unhashable type: 'list'

Add a element in set

In [49]:
num.add(5)
print(num)

{1, 2, 3, 4, 5}

Remove a element in set

In [50]:
num.remove(4)
print(num)

{1, 2, 3, 5}

Remove a randome element in set

In [56]:
num.pop()
print(num)

{3, 4}

Clear all element in set

In [57]:
num.clear()
print(num)

set()

In [81]:
nums={1,2,3,7}
nums1={2,3,5}
nums.intersection(nums1)

{2, 3}

In [82]:
nums.union(nums1)

{1, 2, 3, 5, 7}

In [97]:
import os

In [98]:
os.getcwd()

'/content'

**Change directory and list directory**

In [101]:
import os
os.chdir('/kaggle')
os.listdir('/kaggle')

['input']

**Creating a** **Directory**
os.mkdir()
os.mkdirs()